<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-frame">
          <div class="row">
            <div class="col-md-3">
              <div class="contact-section hidden-xs hidden-sm">
                <div class="logo">
                  <% link_to "#" do %>
                    <%= image_tag 'mm_logo.png' %>
                  <% end %>
                </div>
                <div class="contact-section-info">
                  <h3>Atelier Millimètre</h3>
                  <h4>Paris</h4>
                  <h4>06.77.44.44.44</h4>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="social-media">
                <h4 class="text-center">Retrouvez-nous sur :</h4>
                <div class="social-media-icons">
                  <div class="social-link">
                    <a href="<%= data.links.facebook %>" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="social-link">
                    <a href="<%= data.links.instagram %>" target="_blank">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                  <div class="social-link">
                    <a href="<%= data.links.pinterest %>" target="_blank">
                      <i class="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <div class="social-link">
                    <a href="<%= data.links.etsy %>" target="_blank">
                      <i class="fab fa-etsy"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="copyright-credits">
                <h4><strong>Crédits photo</strong></h4>
                <p>Maud Lazzerini, Victor Tsaconas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="terms-of-use">
          <p>Atelier Millimètre 2018</p>
          <div class="dot"></div>
          <p class="hidden-xs"><%= link_to "Mentions légales", "/mentions_legales.html" %></p>
          <p class="visible-xs"><%= link_to "CGU", "/conditions_generales_d_utilisation.html" %></p>
        </div>
      </div>
    </div>
  </div>
</div>


