---
title: Atelier Millimètre - Spécialiste de petites choses
---

<div id="homepage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= partial 'components/loader' %>
        <%= partial 'components/homepage_carousel' %>
      </div>
      <div class="col-xs-offset-1 col-xs-10">
        <div class="home-content" style="margin-bottom:110px;">
          <div class="cards">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                  <%= partial 'components/card_home',
                    locals: {
                      title: 'les cadres',
                      image: 'cadres.jpg',
                      link: '/les_cadres.html',
                      instagram: false,
                      description: "Des cadres bavards confectionnés avec soin"
                    }
                  %>
              </div>
              <div class="col-md-4 col-xs-12">
                  <%= partial 'components/card_home',
                    locals: {
                      title: 'ATELIER',
                      image: 'millimetre.jpg',
                      link: 'l_atelier.html',
                      instagram: false,
                      description: "Découvrez les savoir-faire de MILLIMÈTRE"
                    }
                  %>
              </div>
              <div class="col-md-4 col-xs-12">
                  <%= partial 'components/card_home',
                    locals: {
                      title: 'les carnets',
                      image: 'carnetv2.jpg',
                      link: '/les_carnets.html',
                      instagram: false,
                      description: "Des carnets singuliers pour des personnes inspirées"
                    }
                  %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div id="instagram" class="card-body">
                  <%= partial 'components/card_home',
                    locals: {
                      title: 'instagram',
                      image: '',
                      link: 'https://www.instagram.com/atelier.millimetre/',
                      instagram: true,
                      description: 'Retrouvez toutes les photos de l’atelier sur notre compte Instagram'
                    }
                  %>
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <div class="card-body">
                  <%= partial 'components/card_eshop' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
