---
title: Atelier Millimètre - Découvrir l'atelier
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h1>l'atelier</h1> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <div id="atelier-pictures">
        <div class="about">
          <%= image_tag "atelier1.jpg", data: { image_id: 1 } %>
        </div>
        <div class="fabrication">
          <%= image_tag "atelier2.jpg", class: "mask", data: { image_id: 2 } %>
        </div>
        <div class="savoir-faire">
          <%= image_tag "atelier3.jpg", class: "mask", data: { image_id: 3 } %>
        </div>
        <div class="a-venir">
          <%= image_tag "atelier4.jpg", class: "mask", data: { image_id: 4 } %>
        </div>
        <div class="collaborateurs">
          <%= image_tag "atelier5.jpg", class: "mask", data: { image_id: 5 } %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-1">
      <div id="dots">
        <div class="dot" data-dot-id="1"></div>
        <div class="dot empty" data-dot-id="2"></div>
        <div class="dot empty" data-dot-id="3"></div>
        <div class="dot empty" data-dot-id="4"></div>
        <div class="dot empty" data-dot-id="5"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="atelier-content">
        <div data-text-id="1">
          <h2>L'ATELIER</h2>
          <p>L’atelier MILLIMÈTRE est spécialisé dans les petites choses. </p>
          <p>On coud des carnets, on construit des cadres et on bricole des livres. </p>
          <p>Relieuse de formation, Maël fondatrice de MILLIMÈTRE, mêle à son imagination un savoir-faire pointu. Ici, on s’amuse, on s’emporte et on s’applique pour faire de chacun de nos objets une création authentique. </p>
        </div>
        <div class="about mask" data-text-id="2">
          <h2>L'ÉTHIQUE</h2>
          <p>Tous nos objets sont des pièces uniques, fabriqués à la main, dans notre atelier parisien.</p>
          <p>On utilise essentiellement du carton, du papier, du tissu et du cuir. La majorité des matériaux utilisés sont des rejets de l’industrie ou issus de récupération et de recyclage. On s’inscrit dans une démarche environnementale et citoyenne de valorisation des matériaux et des savoir-faire. </p>
        </div>
        <div class="savoir-faire mask" data-text-id="3">
          <h2>LES SAVOIR-FAIRE</h2>
          <p>
            L’atelier MILLIMÈTRE utilise des techniques de reliure pour concevoir ses carnets. On prend le temps d’élaborer des structures, de comprendre les usages et de développer un regard artistique sur chacune de nos créations. Il s’agit de créer des supports singuliers pour des moments privilégiés et des personnes inspirées.
          </p>
          <p>
            L’atelier utilise la technique de la dorure à chaud manuelle pour personnaliser vos carnets MILLIMÈTRE. C’est un autre métier et d’autres gestes que l’on tient à défendre.
          </p>
        </div>
        <div class="a-venir mask" data-text-id="4">
          <h2>À VENIR</h2>
          <p>
            Poussée par l’envie de proposer des matériaux de qualité et de valoriser les savoir-faire, Maël décide de s’entourer, pour apprendre à fabriquer du papier artisanal dans le respect de l’environnement. Fabriquer du papier c’est apprivoiser la matière et affirmer son parti pris créatif.
          </p>
          <br>
          <p><i>« Chez MILLIMÈTRE on met des mots en cadre et on fabrique des livres sans phrase »</i></p>
        </div>
        <div class="collaborateurs mask" data-text-id="5">
          <h2>COLLABORATEURS</h2>
          <ul class="mm-list">
            <li>Eulalie Thiou : graphiste</li>
            <li>Charlène Desclerc : graphiste</li>
            <li>Maud Lazzerini : photographe et cinéaste</li>
            <li>Victor Tsaconas : photographe</li>
            <li>Germain Loret : développeur</li>
            <li>Florestan Lefevre : développeur</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center" style="font-size: 1.3em;">
      Vous souhaitez collaborer, travailler, distribuer, encourager, vous amusez avec MILLIMÈTRE, n’hésitez pas <span class="contact-trigger"><a href="#">à nous contacter</a></span>.
    </div>
  </div>
</div>
